* {
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../MIDIA/signin-bg.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 1000px;
    background-color: #1A0A0E;
}

@font-face{
    font-family: 'fthv';

    src: url("../FONTES/futura\ medium\ bt.ttf");
}

@font-face{
    font-family: 'ftlt';

    src: url("../FONTES/Futura\ Book\ font.ttf");
}

@font-face {
    font-family: 'inhv';
    src: url("../FONTES/Inter-Medium.ttf");
}

@font-face{
    font-family: 'inlt';
    src: url("../FONTES/Inter-Regular.ttf");
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main * {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article{
    display: flex;
    flex-wrap: wrap;
}

h1 {
    font-family: 'fthv';
    color: whitesmoke;
    margin: 20px;
    font-size: 40px;
    text-shadow: #1A0A0E 0px 0px 100px 30px;
}

input{
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 230px;
    margin: 12px;
    font-size: smaller;
    padding-left: 10px;
}

input::placeholder{
    color: black;
    padding: 10px;
    font-family: 'inlt';
}

button {
    border: none;
    border-radius: 4px;
    height: 50px;
    width: 500px;
    font-family: 'inlt';
    color: white;
    font-size: 23px;
    font-weight: normal;
    background: orangered;
    background: linear-gradient(90deg, orangered 0%, fuchsia 100%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    transition: background-color 1.2s;
}

button:hover{
    background: #ca5429;
    background: linear-gradient(90deg, #ca5429 0%, rgb(178, 26, 178) 100%);
}

p:last-child{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    font-family: 'inlt';
}

a {
    margin-left: 4px;
    font-family: "inhv";
    background-image: linear-gradient(90deg, orangered 0%, fuchsia 100%);
    -webkit-background-clip: text;
    color: transparent;
}

article p{
    color: rgb(255, 255, 255);
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'inhv';
    text-shadow: 0px 0px 100px 20px rgba(0, 0, 0, 0.438);
    font-size: 12px;
    margin-top: -10px;
}

article p:last-child{
    margin-top: -10px;
    color: white;
}

.info {
    color: white;
    margin-bottom: -30px;
    font-family: 'inhv';
}
